In [1]:
# dealing with huge dataset from a company

In [21]:
import pandas as pd

# makes easier for other data scientist for random sampling
random_state = 50

In [3]:
df = pd.read_csv("housing.csv")

In [4]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [5]:
df.memory_usage(deep=True)

Index                     128
longitude              165120
latitude               165120
housing_median_age     165120
total_rooms            165120
total_bedrooms         165120
population             165120
households             165120
median_income          165120
median_house_value     165120
ocean_proximity       1342940
dtype: int64

In [6]:
# change ocean proximity --> overwrite special data type

In [7]:
df["ocean_proximity"] = df["ocean_proximity"].astype("category")

In [8]:
df.memory_usage(deep=True)

Index                    128
longitude             165120
latitude              165120
housing_median_age    165120
total_rooms           165120
total_bedrooms        165120
population            165120
households            165120
median_income         165120
median_house_value    165120
ocean_proximity        21136
dtype: int64

In [9]:
pd.read_csv("housing.csv",dtype = {"housing.csv":"category"})

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [10]:
df.dtypes

longitude              float64
latitude               float64
housing_median_age     float64
total_rooms            float64
total_bedrooms         float64
population             float64
households             float64
median_income          float64
median_house_value     float64
ocean_proximity       category
dtype: object

In [11]:
df_small = pd.read_csv("housing.csv",dtype = {"housing.csv":"category"})
df.memory_usage(deep=True)

Index                    128
longitude             165120
latitude              165120
housing_median_age    165120
total_rooms           165120
total_bedrooms        165120
population            165120
households            165120
median_income         165120
median_house_value    165120
ocean_proximity        21136
dtype: int64

## importing only subsets of the columns / or few column

In [12]:
df_columns =  pd.read_csv("housing.csv", usecols=['total_rooms','total_bedrooms','ocean_proximity'] )

In [13]:
df_columns.head

<bound method NDFrame.head of        total_rooms  total_bedrooms ocean_proximity
0            880.0           129.0        NEAR BAY
1           7099.0          1106.0        NEAR BAY
2           1467.0           190.0        NEAR BAY
3           1274.0           235.0        NEAR BAY
4           1627.0           280.0        NEAR BAY
...            ...             ...             ...
20635       1665.0           374.0          INLAND
20636        697.0           150.0          INLAND
20637       2254.0           485.0          INLAND
20638       1860.0           409.0          INLAND
20639       2785.0           616.0          INLAND

[20640 rows x 3 columns]>

### data sampling for calculation for expensive function

In [22]:
df_columns.sample(70, random_state=random_state)

       total_rooms  total_bedrooms ocean_proximity
1945        2229.0           355.0          INLAND
18006       3340.0           735.0       <1H OCEAN
13062       3369.0           499.0          INLAND
13396       6933.0          1311.0          INLAND
9787        1916.0           386.0       <1H OCEAN
...            ...             ...             ...
8293        2216.0           526.0      NEAR OCEAN
2090        1425.0           323.0          INLAND
18825       3599.0           695.0          INLAND
8713        2415.0           404.0       <1H OCEAN
15666       1375.0           322.0        NEAR BAY

[70 rows x 3 columns]